# conda install -c conda-forge --file requirements.txt
# conda install pytorch torchvision torchaudio cudatoolkit=11.1 -c pytorch -c nvidia
pypdf2==3.0.1
langchain==0.3.17
transformers==4.48.2
langchain-community==0.3.16
langchain-huggingface==0.1.2
langchain-core==0.3.33
# accelerate==1.3.0
# bitsandbytes==0.45.2
pandas
matplotlib
numpy
faiss